doctype html
html(lang="en")
  head
    title Title
    link(rel='stylesheet' href='/main.css')
    script(src='/main.js')
  body
    nav.navbar.navbar-expand.navbar-light.bg-light
      a.navbar-brand(href="/") Home