extends /layouts/application.pug

block content
    h2.text-center Edit task: #{task.name}
    .row.mt-3
      .col-sm-6.mx-auto
        +formFor(f, { url: urlFor('taskUpdate', task.id), method: 'patch' })
          +input(f, 'name')
          +input(f, 'description')
          +button(f)
