extends /layouts/application.pug

block content
  h3.text-xs-center =user.fullName
  +formFor(f, { url: urlFor('users'), method: 'patch' })
    +input(f, 'email')
    +input(f, 'firstName')
    +input(f, 'lastName')
    +input(f, 'passwordDigest', { as: 'password' })
    +button(f)