extends /layouts/application.pug

block content
  h3.text-xs-center Users
  if users.length > 0
    table.table
      tr
        th Name / email
        th Actions
      for user in users
        tr
          td
            a(href=`/users/${user.id}`)= user.fullName
          td
            if userId === user.id
              a(href=`/users/${user.id}/edit`) Edit
              form.form-inline.d-inline-block(action=`/users/${user.id}?_method=DELETE` method='post')
                button.btn.btn-link(type='submit') Delete
  else
    p Пусто